body {
    background-image: url("images/allowedStars.jpg");
    background-attachment: fixed;
    font-family: Azo;
}

.container {
    background-color: #000000;
}

#light {
    background-color: #f1f1f1;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

#poster {
    width: auto;
    height: 400px;
}

#thumbnail {
    width:auto;
    height: 200px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-weight: bold;
}

thead td {
    color: darkgrey;
}

@font-face {
    font-family: Azo;
    src: url(azo/regular.otf);
    font-weight: normal;
}

#footer {
    background-color: #f1f1f1;
}

hr {
    width: 100%; 
    color: darkgrey; 
    height: 3px; 
    background-color:darkgrey;
}