body {
    background-image: url("images/allowedStars.jpg");
    background-attachment: fixed;
    font-family: Azo;
}

.subheading {
    text-transform: uppercase;
    color: #FF3333;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-pills a{
    color: #737373;
}

.nav-pills>li>a:hover {
	background-color: #FF3333;
    color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:#FF3333;
color:white;
}

.container {
    background-color: #000000;
}

#light {
    background-color: #f1f1f1;
    padding-left: 2%;
    padding-right: 2%;
}

#gallery_img {
    max-height: 150px;
    max-width: 150px;
    width:auto;
    height:auto;
    display: block;
    margin: 0 auto;

}

#counter {
    margin: 0 auto;
}

.fbicon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: grey;
}

.fbicon:hover {
    background-color: red;
    -webkit-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
}

#crossfade {
    margin: auto;
    float: left;
}
#crossfade img {
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#crossfade img.top:hover {
    opacity:0;
}

#logo {
    width: 300px;
    height: auto;
}

#card {
    width: 85%;
    height: auto;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

#poster {
    width: auto;
    height: 400px;
}

#thumbnail {
    width:auto;
    height: 200px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-weight: bold;
  margin-left: -2%;
  margin-right: 4%;
}

#ruleList {
    line-height: 2.5rem;
}

thead td {
    color: darkgrey;
}

@font-face {
    font-family: Azo;
    src: url(azo/regular.otf);
    font-weight: normal;
}

#footer {
    background-color: #f1f1f1;
}

hr {
    width: 100%;
    color: darkgrey;
    height: 3px;
    background-color:darkgrey;
}

#map {
    border: 2px solid darkgrey;
    border-radius: 20px;
    width: 100%;
    height:auto;
}

#banner {
    padding: 0;
    margin: 0;
}

#goFundMe {
    width: 60%;
    height: auto;
}
