body {
    background-image: url("images/allowedStars.jpg");
    background-attachment: fixed;
    font-family: Azo;
}

.nav-pills a{
    color: #737373;
}

.nav-pills>li>a:hover {
	background-color: #FF3333;
    color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:#FF3333;
color:white;
}
.container {
    background-color: #000000;
}

#light {
    background-color: #f1f1f1;
}

#gallery_img {
    max-height: 150px;
    max-width: 150px;
    width:auto;
    height:auto;
    display: block;
    margin: 0 auto;

}

#facebook {
    width: 40px;
    height: 40px;
    background: url(images/iconbw.jpg);
}

#facebook:hover {
    width: 40px;
    height: 40px;
    background: url(images/icon.jpg);
}

#logo {
    width: 300px;
    height: auto;
}

#card {
    width: 85%;
    height: auto;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

#poster {
    width: auto;
    height: 400px;
}

#thumbnail {
    width:auto;
    height: 200px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-weight: bold;
}

thead td {
    color: darkgrey;
}

@font-face {
    font-family: Azo;
    src: url(azo/regular.otf);
    font-weight: normal;
}

#footer {
    background-color: #f1f1f1;
}

hr {
    width: 100%; 
    color: darkgrey; 
    height: 3px; 
    background-color:darkgrey;
}

#map {
    border: 2px solid darkgrey;
    border-radius: 20px;
    width: 100%;
    height:auto;
}